/* dark: #141518 */
/* light: #485362 */
/* white for font: #e4e5e7 */
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans:wght@400;600;800&display=swap');

*{
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

html, body{
    background-color: #141518;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

.navbar{
    height:120px;
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 38px;
    color:white;
    font-family: 'Open Sans', sans-serif;
    padding-left: 110px;
    padding-right:110px;
}

.navbar img{
    width: 33px;
    margin-right: 18px;
    box-shadow: -3px 1px 80px #30c72e;
}

.navbar .title{
    font-size: 23px;
    display:flex;
    align-items: center;
    font-weight:600;
    letter-spacing:3px;
    user-select:none;
    cursor: pointer;
}

.period{
    color: #c2f753;
    font-size:21px;
}

.options{
    display:flex;
}

.options div{
    padding: 0px 10px;
    cursor:pointer;
    font-size:15px;
    color:#8b8b8b;
    padding-bottom: 8px;
}

.options div:hover{
    color:#e9e9e9;
}

.selected{
    color:#e9e9e9 !important;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-color: white;
    border-image: linear-gradient(to right, #c2f753, #4db770) 1;
}

.TBD{
    border: 1px solid #32343c;
    padding: 10px 30px;
    border-radius: 25px;
    cursor:pointer;
}

.gradient-text{
    font-weight:600;
    background-image: linear-gradient(to right, #c2f753, #4db770);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}